<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
    <display-name>The Best Ecommerce Ever</display-name>
    <servlet>
        <servlet-name>EncryptServlet</servlet-name>
        <servlet-class>com.myshop.servlets.EncryptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecryptServlet</servlet-name>
        <servlet-class>com.myshop.servlets.DecryptServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EncryptServlet</servlet-name>
        <url-pattern>/pay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecryptServlet</servlet-name>
        <url-pattern>/response</url-pattern>
    </servlet-mapping>
</web-app>
